@model Student

<p>
    <b>@Model.studentName @Model.studentSurname</b> isimli öğrenciyi silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.studentID">
        <button type="submit" class="btn btn-danger">Evet</button>

        <a asp-controller="Student" asp-action="Index" class="btn btn-success">Hayır</a>
    </form>
</p>